.heading{
    width: 80%;
    border: 5px  solid  lightblue;
    border-radius: 15px;
    box-shadow: 10px 10px 10px lightblue;
}

.note{
    font-size: 14px;
}

#song_name_div{
    border: 50px soild green;
    box-shadow: 10px 10px 10px lightgreen;
    padding-top: -10px;
}

canvas{
    border: 5px solid pink;
    border-radius: 15px;
    box-shadow: 10px 10px 10px lightpink;
}

body{
    background-size:cover;
}
